VITE_APP_SSO_BACKEND_URL=
VITE_XP_BACKEND_URL=
VITE_APP_SSO_URL=https://xp.rightcomtech.com
VITE_APP_SSO_CLIENT_ID=localhost

VITE_PARSE_APP_ID=rightmonitor
VITE_PARSE_APP_KEY=mymasterkey

VITE_BACKEND_URL=http://localhost:5001/parse